<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head('My blog | View Post')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar('Post')"/>
    <div class="container">
        <div th:if="${post == null}">Post not found.</div>
        <div th:if="${post}">
            <div th:text="${post.id + 1}">ID</div>
            <h3 th:text="${post.title}">Title</h3>
            <div th:text="${post.body}">Content</div>
<!--            <div th:text="${user.email}">Creator's email</div>-->
        </div>
    </div>
</body>
</html>