<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head('Options')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"/>
<div class="container">
<h1>Welcome!</h1>
<!--    //<span th:text="${name}"></span>-->
<!--    ?-->
<!--    //(User) SecurityContextHolder.getContext().getAuthentication().getPrincipal()-->
<!--    // ^this is how you access the logged in user from the Controller fyi-->

<h3>What would you like to do?</h3>

<!--    create a post-->
<!--    view and edit your posts -->
<!--    view all posts-->



    <form th:action="@{/posts/create}" th:method="get">
        <button class="btn-link btn" style="margin-top: 8px">Create a new post</button>
    </form>
<!--    HAVE TO CREATE A VIEW/CONTROLLER TO SHOW EACH USER'S POSTS-->
<!--    <form th:action="@{/posts/create}" th:method="get">-->
<!--        <button class="btn-link btn" style="margin-top: 8px">View and edit my posts</button>-->
<!--    </form>-->
    <form th:action="@{/posts}" th:method="get">
        <button class="btn-link btn" style="margin-top: 8px">View all posts</button>
    </form>
    <h6 style="margin-top: 12px; margin-left: 10px">Coming soon! View and edit your own posts!</h6>
<!--    <form th:action="@{/login}" th:method="get">-->
<!--        <button class="btn-link btn" style="margin-top: 8px">Login</button>-->
<!--    </form>-->
<!--    <form th:action="@{/logout}" th:method="post">-->
<!--        <button class="btn-link btn" style="margin-top: 8px">Logout</button>-->
<!--    </form>-->
</div>
</body>
</html>